
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_defaultLayoutPage1.cshtml";
}

<style>
    .paragraph {
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-align: justify;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<h1>Paycheck Protection Program Loan Information</h1>
<br />
<p class="paragraph">The Paycheck Protection Program is a loan designed to provide a direct incentive for small businesses to keep their workers on the payroll.</p>
<p class="paragraph">SBA will forgive loans if all employees are kept on the payroll for eight weeks and the money is used for payroll, rent, mortgage interest, or utilities.</p>
<p class="paragraph">You can apply through any existing SBA 7(a) lender or through any federally insured depository institution, federally insured credit union, and Farm Credit System institution that is participating. Other regulated lenders will be available to make these loans once they are approved and enrolled in the program. You should consult with your local lender as to whether it is participating in the program.</p>
<br />
<h1>Who Can Apply</h1>
<br />
<p class="paragraph">
    The following entities affected by Coronavirus (COVID-19) may be eligible:

    <ul class="paragraph">
        <li>
            Any small business concern that meets SBA’s size standards (either the industry based sized standard or the alternative size standard)
        </li>
        <li>
            <ul>
                Any business, 501(c)(3) non-profit organization, 501(c)(19) veterans organization, or Tribal business concern (sec. 31(b)(2)(C) of the Small Business Act) with the greater of:
                <li>500 employees, or</li>
                <li>That meets the SBA industry size standard if more than 500</li>
            </ul>
        </li>
        <li>
            Any business with a NAICS Code that begins with 72 (Accommodations and Food Services) that has more than one physical location and employs less than 500 per location
        </li>
        <li>
            Sole proprietors, independent contractors, and self-employed persons
        </li>

    </ul>
</p>

<h1>Loan Details and Forgiveness</h1>
<br />
<p class="paragraph">The loan will be fully forgiven if the funds are used for payroll costs, interest on mortgages, rent, and utilities (due to likely high subscription, at least 60% of the forgiven amount must have been used for payroll). Loan payments will also be deferred for six months. No collateral or personal guarantees are required. Neither the government nor lenders will charge small businesses any fees.</p>
<p class="paragraph">Loans issued prior to June 5 have a maturity of 2 years. Loans issued after June 5 have a maturity of 5 years. All loans have an interest rate of 1%.</p>
<p class="paragraph">If you wish to begin preparing your application, you can download a copy of the PPP borrower application form (revised June 12, 2020) to see the information that will be requested from you when you apply with a lender.</p>
<h2>Loan Forgiveness</h2>
<br />
<p class="paragraph">Forgiveness is based on the employer maintaining or quickly rehiring employees and maintaining salary levels. Forgiveness will be reduced if full-time headcount declines, or if salaries and wages decrease. The loan forgiveness form and instructions include several measures to reduce compliance burdens and simplify the process for borrowers, including:</p>
<ul class="paragraph">
    <li>
        Options for borrowers to calculate payroll costs using an “alternative payroll covered period” that aligns with borrowers’ regular payroll cycles
    </li>
    <li>Flexibility to include eligible payroll and non-payroll expenses paid or incurred during the 24-week period after receiving their PPP loan</li>
    <li>Step-by-step instructions on how to perform the calculations required by the CARES Act to confirm eligibility for loan forgiveness</li>
    <li>
        Borrower-friendly implementation of statutory exemptions from loan forgiveness reduction based on rehiring by June 30
    </li>
    <li>Addition of a new exemption from the loan forgiveness reduction for borrowers who have made a good-faith, written offer to rehire workers that was declined</li>
</ul>
<br />
<br />
<br />
<br />


