
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_defaultLayoutPage1.cshtml";
}

<style>
    .imagestyle {
        margin-top: 35%;
        margin-right: 70%;
        border: 2px solid #00ffff;
        border-radius: 5px;
    }

    .cards {
        margin-top: 35%;
        margin-left: 20%;
    }

    .paragraph {
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-align: justify;
    }

    .iconbig {
        float: left;
        display: inline-block;
        font-size: 20px;
        font-weight: 300;
        display: block;
        color: #ff5800;
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/fonts/images/contact.jpg" alt="paycheck" class="img-responsive imagestyle" />
        </div>
        <div class="col-md-6 ">
            <div class="cards">
                <h2>Contact Us</h2><br />
                <i class="glyphicon glyphicon-map-marker iconbig">  </i>
                <p class="paragraph" style="display:inline-block;margin-left:0.5em;">US Small Business Administration</p>


                <p class="paragraph" style="margin-left:3.5em"> 409 3rd St, SW</p>
                <p class="paragraph" style="margin-left:3.5em">Washington DC 20416</p>
                <br />
                <br />

                <i class="glyphicon glyphicon-earphone iconbig"></i><p class="paragraph" style="display:inline-block;margin-left:1em;">+1-541-754-3010</p><br />
                <i class="glyphicon glyphicon-envelope iconbig"></i><p class="paragraph" style="display:inline-block;margin-left:1em;">sba@gmail.com</p>
            </div>
        </div>
    </div>

</div>

