
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_indexlayout.cshtml";
}

<style>

    .points {
        margin-top: 60px;
    }

    .iconbig {
        float: left;
        display: inline-block;
        font-size: 30px;
        font-weight: 400;
        display: block;
        color: #ff5800;
        width: 55px;
        height: 55px;
        margin-right: 25px;
    }

    .footer {
        background-color: #2e2e2e;
        padding: 30px;
        width: 100%;
    }
</style>
<div class="head_section">
    <div class="row">
        <img src="~/fonts/images/logo.png" alt="paycheck" class="logo" />
        <ul class="main-nav">
            <li class="nav-item ">@Html.ActionLink("About", "About", "Home", new { @style = "color:#fff;text-decoration:none;" })</li>
            <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @style = "color:#fff;text-decoration:none;" })</li>
            <li class="nav-item">@Html.ActionLink("Login", "index", "Login", null, new { @style = "color:#fff;text-decoration:none;" })</li>
            <!--<li class="nav-item"><span><a href="#">Login in  </a></span></li>-->
            <!--<li class="nav-item"><a href="#">Register </a></li>-->
        </ul>

    </div>
    <div style="background:transparent !important" class="row jumbotron jumbotron-fluid dis">
        <div class="container">
            <h1 class="display-4" style="padding-top:8%;color:white;font-size:50px;font-weight:100">Paycheck Protection Program</h1>
            <p style="padding-top:1em;padding-left:1em;color:#ff6a00;font-size:30px;font-weight:100;word-spacing:5px;letter-spacing:2px;line-break:auto;" class="lead">A direct incentive for small businesses to keep their workers on the payroll</p>
            <br />
            <p style="padding-left:1em;" class="lead">
                <!--<a class="btn button2" href="">Know more </a>-->
                @Html.ActionLink("APPLY NOW", "ApplicantView", "Applicant")
            </p>
        </div>


    </div>

</div>



<div class="steps">
    <div class="row">
        <h1 style="text-align:center;padding-top:20px;color:#000;font-size:50px;">Steps to Apply</h1>
    </div>
    <div class="container">

        <div class="col-lg-6">
            <div class="points">
                <i class="glyphicon glyphicon-log-in iconbig"></i>

                <p>
                    <h2>Login to the portal</h2>
                </p>
            </div>

            <div class="points">
                <i class="glyphicon glyphicon-user iconbig"></i>
                <p>
                    <h2>Applicant Details</h2>
                </p>
            </div>
            <div class="points">
                <i class="glyphicon glyphicon-usd iconbig"></i>
                <p>
                    <h2>Business Information</h2>
                </p>
            </div>
            <div class="points">
                <i class="glyphicon glyphicon-list-alt iconbig"></i>
                <p>
                    <h2>Personal Information</h2>
                </p>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="points">
                <i class="glyphicon glyphicon-briefcase iconbig"></i>
                <p>
                    <h2>Payroll Calculation</h2>
                </p>
            </div>
            <div class="points">
                <i class="glyphicon glyphicon-euro iconbig"></i>
                <p>
                    <h2>Loan Information</h2>
                </p>
            </div>
            <div class="points">
                <i class="glyphicon glyphicon-piggy-bank iconbig"></i>
                <p>
                    <h2>Account Information</h2>
                </p>
            </div>
            <div class="points">
                <i class="glyphicon glyphicon-plus-sign iconbig"></i>
                <p>
                    <h2>Benificiary Details</h2>
                </p>
            </div>
        </div>


    </div>
    <br />
    <br /><br /><br /><br />
</div>


<div class="footer">
    <p style="color:white;text-align:center;">copyright &copy; 2020 PPP. All rights reserved</p>
</div>



