
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br /><br /><br /><br /><br />
<div class="container">
    <form role="form">
        <div class="panel panel-primary setup-content" id="step-8">

            <div class="panel-heading">
                <h3 class="panel-title">Paycheck Protection Program Loan Application</h3>
            </div>
            <div class="form-horizontal">
                <h4><b>Success</b></h4>
                <hr />
                <h2>Your application is Submitted Successsfully!!</h2>
                <h3>Thank You</h3>
            </div>
            </div>
</form>
    </div>
        }
